cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
Flask==2.3.3
Werkzeug==2.3.8
Jinja2==3.1.6
MarkupSafe==2.1.5
itsdangerous==2.1.2
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.3
google-cloud-translate==3.17.0
googleapis-common-protos==1.70.0
grpcio>=1.64,<2
httplib2==0.22.0
idna==3.10
oauthlib==3.3.1
packaging==24.2
protobuf>=4.25,<6
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyparsing==3.2.3
pytz==2025.2
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools>=75.0.0
six==1.17.0
uritemplate==4.1.1
urllib3==2.5.0
deepl==1.22.0
python-dotenv==1.1.1
